@import '../../../styles/variables';
.hero {
  position: relative;
  height: 80vh;
  background: url('../../../assets/hero.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25); // dark overlay
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.text-block {
  max-width: 550px;
  color: #fff;

  .headline {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.1;
  }

  .sub-headline {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

app-quick-offer-form {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  flex: 0 0 450px;
  z-index: 2;
}



/* Mobile phones */
@media (max-width: 600px) {
  .hero {
    height: auto;
    min-height: 100vh;
    padding: 4rem 1rem;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  app-quick-offer-form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    flex: 100%;
    z-index: 2;
  }

}
